body {
font-family: sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}
#createPost {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.cuadro {
    margin-bottom: 50px;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 100px;
    height: 230px;
    width: 130px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.cuadro-imagen {
  align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    width: 160px;
    height: 170px;
    border-radius: 100%;
  }
  .texto-nombre {
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
  }
  .texto-parrafo {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 15;
  }